footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    padding: var(--footer-padding);
    color: var(--accent-secundary);
}

/* seccion de informacion del footer */
footer .section-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;

    p {
        margin: 6px 0;
    }
}