/* Estilos de la sección "Contacto" */
.content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .contact-info {
            text-align: center;
            color: var(--accent-primary);
            max-width: 37.5rem;
            width: 100%;
            margin: 0 auto 2rem auto;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }

            .social-media-profile {
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;

                    li {
                        margin-right: 8px;
                        transform: scale(1);

                        svg {
                            width: 32px;
                            height: 32px;
                            fill: var(--accent-secondary);
                            cursor: pointer;
                            transition: transform 0.5s ease;
                        }
                    }
                    li:hover svg{
                        transform: scale(1.2) translateY(-6px);
                    }
                    li:hover #insta {
                        fill: #8f5da7;
                    }
                    li:hover #wpp {
                        fill: #195838;
                    }
                    li:hover #mail {
                        fill: #84a0b4;
                    }
                    li:hover #lkd {
                        fill: #2b7fb7;
                    }
                    li:hover #git {
                        fill: #101010;
                    }
                }
            }
        }
    }



    .contact-form {
        max-width: 37.5rem;
        width: 100%;
        margin: 0 auto;
        color: var(--accent-primary);

        form {

            label {
                display: block;
                margin-bottom: .25rem;
            }

            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 1rem;
                margin-bottom: 1rem;
                color: var(--bg-dark);
                font-size: medium;
                font-weight: bold;
                border-radius: var(--border-radius);
                background-color: var(--accent-secondary);
                transition: box-shadow 0.4s ease;
            }

            textarea {
                height: 9.37rem;
            }

            textarea:focus,
            input:focus {
                box-shadow: 3px 7px 7px rgb(88, 73, 114, 1);
            }

            textarea:hover,
            input:hover,
            button:hover {
                box-shadow: 3px 7px 7px rgb(88, 73, 114, 1);
            }

            button {
                background: var(--accent-secondary);
                border-radius: var(--border-radius);
                color: #eee;
                font-weight: bold;
                letter-spacing: 1.5px;
                padding: .62rem 1.25rem;
                cursor: pointer;
                transition: box-shadow 0.4s ease;
            }

            button[type="submit"]:disabled {
                background-color: #141719;
                cursor: not-allowed;
            }

            /* Mensaje de errores "span" */
            .error-message {
                color: red;
                font-size: 0.875rem;
                margin-top: -0.5rem;
                margin-bottom: 1rem;
            }

            /* aplicar un border rojo a los campos de errores */
            input.error,
            textarea.error {
                border-color: red;
            }

            /* contenedor de errores generales */
            #errores {
                color: red;
                margin-bottom: 1rem;
            }

            /* Captcha */
            .g-recaptcha {
                margin-bottom: 1rem;
            }
        }

    }
}


@media (max-width: 768px) {
    .contact-form {
        max-width: 90%;
        width: 100%;
    }
    .content-form {
        .info {
            display: flex !important;
            flex-direction: column !important;
        }
    }
}

@media (max-width: 500px) {
    .contact-form {
        max-width: 100%;
        width: 100%;
    }
}