header {
    padding: 16px;
    width: calc(100%);
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);

    .logo {
        a {
            display: flex;
            justify-content: start;
            align-items: center;

            img {
                height: 50px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    ul label,
    input,
    .navDiv {
        display: none;
    }

    ul {
        display: flex;
        justify-content: end;
        align-items: center;

        li {
            padding: 0 30px;

            a {
                color: var(--accent-primary);
                cursor: pointer;
            }

            a:hover {
                color: var(--accent-secondary);
            }
        }
    }
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 150px auto 0;

    .title {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.banner {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 50px;

    .content {
        text-align: left;
        padding-right: 50px;

        h1 {
            font-family: var(--title-font-family);
            font-size: var(--title-font-size);
            margin: 0;

            .gradientText {
                display: inline-block;
                background-image: var(--gradient);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                .job::before {
                    content: attr(data-job1);
                    overflow: hidden;
                    display: inline-flex;
                    animation:
                        effectText 1s linear infinite alternate,
                        changeText 4s linear infinite;
                }
            }
        }
    }
    .avatar:hover {
        --before-width: 76%;
        --before-height: 100%;
        --img-left: 17%;
        --img-bottom: 7%;
    }
    .avatar {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        height: 360px;

        img {
            position: absolute;
            bottom: var(--img-bottom);
            left: var(--img-left);
            width: 65%;
            border-radius: var(--border-radius);
            object-fit: cover;
            aspect-ratio: 1;
            transition: all 0.5s;
        }
    }

    .avatar::before {
        position: absolute;
        width: var(--before-width);
        height: var(--before-height);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        content: "";
        bottom: 0;
        z-index: -1;
        transition: all 0.5s;
    }
    
}

@keyframes effectText {
    from {
        max-width: 0;
    }

    to {
        max-width: 500px;
    }
}

@keyframes changeText {
    0% {
        content: attr(data-job1);
    }

    100% {
        content: attr(data-job2);
    }
}

.find {
    margin-top: 3.12rem;

    h4 {
        margin-bottom: .5rem;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;

        li {
            width: 3.12rem;
            height: 3.12rem;
            box-shadow: var(--box-shadow);
            margin: .62rem 1rem .62rem 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1);
            transition: all 0.4s ease;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        li:hover {
            transform: scale(1.2) translateY(-6px);
        }
    }
}

/* Project */
.project {
    margin-bottom: 3rem;

    .listProject {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 3.12rem;
        margin-top: 3.12rem;

        .item {
            text-align: center;
            box-shadow: var(--box-shadow);
            padding: 1rem;
            border-radius: var(--border-radius);
            font-weight: bold;
            font-size: large;

            img {
                width: 100%;
                object-fit: cover;
            }

            .name {
                margin-bottom: 1rem;
            }

            .description {
                font-weight: 300;
                text-align: left;
                margin-bottom: 1rem;
            }

            .box-icon {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .tech-icons,
                li,
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .tech-icons {
                    gap: .5rem;

                    li {
                        a {
                            img {
                                width: 1.5rem;
                            }
                        }
                    }
                }

                .btn-visit-site {
                    background-color: #4e4e53cf;
                    border-radius: 1rem;
                    padding: 0 .25rem;
                    cursor: pointer;
                    color: #b2a5e6;
                    margin-right: 1rem;
                }
            }
        }
    }
}

/* ipad */
@media screen and (max-width: 1024px) {
    .banner .content h1 {
        font-size: 2em;
    }

    .listProject {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* phone */
@media screen and (max-width: 767px) {
    .container {
        margin: 3.12rem auto 0;
    }

    header {
        

        .nav {
            position: fixed;
            background-color: var(--bg-dark);
            width: 70%;
            height: 100vh;
            left: 0;
            top: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 4.37rem);
            transform: translateX(-100%);
            transition: 0.5s;
        }
    }

    header .navDiv {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    header label {
        width: 3.12rem;
        height: 3.12rem;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .nav label {
        display: flex;
        transform: translateX(1.25rem);
    }

    .banner {
        grid-template-columns: 1fr;

        .content {
            padding-right: 0;
        }

        .avatar {
            grid-row-start: 1;
            margin-bottom: 1.5rem;

            img {
                bottom: 8%;
                left: 20%;
                width: 50%;
            }
        }

        .avatar::before {
            width: 50%;
            height: 50%;
        }
    }

    .project {
        .listProject {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    .skill {

        #circle-skills, #circle-tools {
            width: 13rem !important;
            height: 13rem !important;
        }
        .box-circle {
            grid-template-columns: 1fr !important;
            grid-template-rows: auto 1fr 1fr !important;
            gap: 3.6rem !important;

            .overlay-skill {
                opacity: 1 !important;
                display: flex;
                justify-content: center;
                align-items: center;

                & .box-des {
                    flex-direction: row !important;

                    .des-buttom {
                        margin: 0 .5rem;
                    }
                }
            }
        }
    }
}