
.skill {
    margin-bottom: 7.5rem;

    & .content-skill {
        margin-bottom: 4rem;

        & .description-skill {
            width: 100%;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }

    & .box-circle:hover #circle-skills {
        animation-play-state: paused;
    }
    & .box-circle:hover > #circle-tools {
        animation: none;
    }
    & .box-circle:hover > .overlay-skill {
        opacity: 1;
    }

    & .box-circle {
        display: grid;
        grid-template-columns: .75fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-bottom: 3rem;

        /* Estilos para la animacion de de overlay */
        & .overlay-skill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;

            & .des-ind {
                margin-bottom: 2rem;

                a {
                    box-shadow: var(--box-shadow);
                    padding: 1rem;
                    border-radius: 1rem;
                }
            }
            & .box-des {
                display: flex;
                flex-direction: column;

                & .des-buttom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
    
                    & a {
                        cursor: pointer;
                        padding: .7rem;
                        border-radius: var(--border-radius);
                        background-color: var(--dark-700);
                    }
                    & a:hover {
                        box-shadow: var(--box-shadow);
                    }
                }
            }

        }

        #circle-skills, #circle-tools {
            position: relative;
            width: 18.75rem;
            height: 18.75rem;
            animation: roteScale 20s infinite linear;
        }
        #circle-skills .soft-skill, #circle-tools .tool {
            position: absolute;
                width: 42.86%;
                height: 42.86%;
                transform-origin: top right;
                border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
                top: 50%;
                left: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2.68rem;
                font-size: small;
                transition: all 0.8s;
                font-weight: bold;
        }
        #circle-skills {

            & .soft-skill:nth-child(1) {
                background-color: var(--purple-400);
                transform: rotateZ(51.43deg);
                color: var(--purple-950);
            }
            & .soft-skill:nth-child(2) {
                background-color: var(--purple-500);
                transform: rotateZ(102.86deg);
                color: var(--purple-950);
            }
            & .soft-skill:nth-child(3) {
                background-color: var(--purple-600);
                transform: rotateZ(154.29deg);
                color: var(--purple-950);
            }
            & .soft-skill:nth-child(4) {
                background-color: var(--purple-700);
                transform: rotateZ(205.71deg);
                color: var(--purple-400);
            }
            & .soft-skill:nth-child(5) {
                background-color: var(--purple-800);
                transform: rotateZ(257.14deg);
                color: var(--purple-400);
            }
            & .soft-skill:nth-child(6) {
                background-color: var(--purple-900);
                transform: rotateZ(308.57deg);
                color: var(--purple-400);
            }
            & .soft-skill:nth-child(7) {
                background-color: var(--purple-950);
                transform: rotateZ(360deg);
                color: var(--purple-500);
            }
        }
    
        #circle-tools {

            & .javaScript {
                transform: rotateZ(30deg);
                background-color: var(--dark-50);
                color: var(--dark-950);

            }
            & .html {
                transform: rotateZ(60deg);
                background-color: var(--dark-100);
                color: var(--dark-900);

            }
            & .css {
                transform: rotateZ(90deg);
                background-color: var(--dark-200);
                color: var(--dark-800);

            }
            & .react {
                transform: rotateZ(120deg);
                background-color: var(--dark-300);
                color: var(--dark-700);

            }
            & .nodeJs {
                transform: rotateZ(150deg);
                background-color: var(--dark-400);
                color: var(--dark-800);

            }
            & .botpress {
                transform: rotateZ(180deg);
                background-color: var(--dark-500);
                color: var(--dark-700);

            }
            & .make {
                transform: rotateZ(210deg);
                background-color: var(--dark-600);
                color: var(--dark-300);

            }
            & .threejs {
                transform: rotateZ(240deg);
                background-color: var(--dark-700);
                color: var(--dark-300);

            }
            & .stackai {
                transform: rotateZ(270deg);
                background-color: var(--dark-800);
                color: var(--dark-200);

            }
            & .python {
                transform: rotateZ(300deg);
                background-color: var(--dark-900);
                color: var(--dark-100);

            }
            & .git {
                transform: rotateZ(330deg);
                background-color: var(--dark-950);
                color: var(--dark-50);

            }
            & .wordpress {
                transform: rotateZ(360deg);
                background-color: var(--dark-1000);
                color: var(--dark-50);
            }
        }

        /* Estilos para resetear la animacion del circulo de herramientas */
        & .spin-reset{
            transition: all 2s ease;
            transform: rotateZ(109deg);
        }
    }
}

@keyframes roteScale {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes base {
    0% {
        transform: rotateZ(109deg);
    }
    100% {
        transform: rotateZ(109deg);
    }
}