body {
    #menu-mobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        #menu-mobile {
            display: block;
            .navDiv {
                height: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;

                label {
                    width: 50px;
                    height: 50px;
                    z-index: 1000;
                    box-shadow: var(--box-shadow);
                    border-radius: var(--border-radius);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            #menu {}

            .nav {
                position: fixed;
                background-color: var(--light);
                width: 100vw;
                height: 100vh;
                left: 0;
                top: 0;
                z-index: 1000;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5, 70px);
                gap: 1rem;
                transform: translateX(-100%);
                transition: 0.5s;

                #close-menu {
                    margin: 0.5rem 0 0 0.5rem;
                    img {
                        width: 5rem;
                        box-shadow: var(--shadow-00);
                        border-radius: 50%;
                    }
                }

                li {
                    margin-left: 1.5rem;
                    margin-top: 2rem;
                    a {
                        font-size: 3rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}